@page
@model IndexModel
@{
    ViewData["Title"] = "Home page";
}
@using BleakwindBuffet.Data.Menu;
@using BleakwindBuffet.Data.Entrees;
@using BleakwindBuffet.Data.Sides;
@using BleakwindBuffet.Data.Drinks;
@using BleakwindBuffet.Data.Enums;

<div class="text-center">
    <h1 class="display-4">Bleakwind Buffet</h1>
    <p>
        We at Bleakwind Buffet are proud to bring you authentic fantasy meals straight from the world of Skyrim.
        Shake the blood off your sword and sake your thirst with one of our old-fashioned sailor sodas.
        Hack into a Smokehouse Skeleton with your dagger. Or vanquish the mighty Thalmor Triple Burger!
        You’ve had a hard adventure and earned your loot, so spend it with us!
    </p>
</div>

<form id="menuDatabase" method="post">

    <div id="search">
        <input type="text" name="SearchTerms" value="@Model.SearchTerms" />
        <input type="submit" value="Search">
    </div>

    <div id="filters">

        <h4>Item Type</h4>
        @foreach (String category in Menu.ItemType)
        {
            <label>
                <input type="checkbox" name="Category" value="@category" checked="@Model.Category?.Contains(category)" />
                @category
            </label>
        }

        <h4>Calories</h4>
        <div>
            Between
            <input name="CalorieMin" type="number" min="0" max="1000" step="1" placeholder="min" value="@Model.CalorieMin" />
            and
            <input name="CalorieMax" type="number" min="0" max="1000" step="1" placeholder="max" value="@Model.CalorieMax" />
        </div>

        <h4>Price</h4>
        <div>
            Between
            <input name="PriceMin" type="number" min="0" max="10" step="0.01" placeholder="min" value="@Model.PriceMin" />
            and
            <input name="PriceMax" type="number" min="0" max="10" step="0.01" placeholder="max" value="@Model.PriceMax" />
        </div>
    </div>
</form>

<div class="flex-columns">

    <div>
        <h1>Entrees</h1>
        <ul>
            @foreach (Entree entree in Menu.Entrees())
            {
                <li>
                    <div class="details">
                        <h3>@entree.ToString()</h3>
                        <div class="description">
                            Description: @entree.Description
                        </div>
                        <div class="price">
                            $@entree.Price
                        </div>
                        <div class="calories">
                            Calories: @entree.Calories
                        </div>
                    </div>
                </li>
            }
        </ul>
    </div>

    <div>
        <h1>Sides</h1>
        <ul>
            @foreach (Side side in Menu.Sides())
            {
                <li>
                    <div class="details">
                        <h3>@side.ToString()</h3>
                        <div class="description">
                            Description: @side.Description
                        </div>
                        @if (side.Size == Size.Small)
                        {
                            <div class="price">
                                $@side.Price
                            </div>
                            <div class="calories">
                                Calories: @side.Calories
                            </div>
                        }
                        else if (side.Size == Size.Medium)
                        {
                            <div class="price">
                                $@side.Price
                            </div>
                            <div class="calories">
                                Calories: @side.Calories
                            </div>
                        }
                        else if (side.Size == Size.Large)
                        {
                            <div class="price">
                                $@side.Price
                            </div>
                            <div class="calories">
                                Calories: @side.Calories
                            </div>
                        }
                    </div>
                </li>
            }
        </ul>
    </div>

    <div>
        <h1>Drinks</h1>
        <ul>
            @foreach (Drink drink in Menu.Drinks())
            {
                <li>
                    <div class="details">
                        <h3>@drink.ToString()</h3>
                        <div class="description">
                            Description: @drink.Description
                        </div>
                        @if (drink.Size == Size.Small)
                        {
                            <div class="price">
                                $@drink.Price
                            </div>
                            <div class="calories">
                                Calories: @drink.Calories
                            </div>
                        }
                        else if (drink.Size == Size.Medium)
                        {
                            <div class="price">
                                $@drink.Price
                            </div>
                            <div class="calories">
                                Calories: @drink.Calories
                            </div>
                        }
                        else if (drink.Size == Size.Large)
                        {
                            <div class="price">
                                $@drink.Price
                            </div>
                            <div class="calories">
                                Calories: @drink.Calories
                            </div>
                        }
                    </div>
                </li>
            }
        </ul>
    </div>

</div>

<h2 class="text-left">Combo</h2>
<p>
    An Entree, Side, and Drink can be combined to create a Combo with a $1 discount! 
    Don't miss out on this deal of a lifetime!
</p>